$block: #00ddff;
$body: #f0f0f0;

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin:0;  
  width:100%;
  height:100%;
  font-size: 10px;
}

body {
  background: $body;
  position: relative;
}

.block{
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  background: $block;
  width: 0vw;
  height: 0vw;
  transition: all 0.5s linear;
}